@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6">Welcome to my Bookstore Website</h1>
    <p>Feel free to navigate throught the website and search for your books</p>
    <img src="https://img.freepik.com/free-photo/abstract-blur-defocused-bookshelf-library_1203-9639.jpg?t=st=1735339029~exp=1735342629~hmac=23a69a9e6b28d8f852c0ba37b4282f610efb343850db178378f36f59afa4a378&w=1380" height="600px" />
</div>
