@model BookStore.Models.ViewModels.BookFormViewModel;

@{
    ViewData["Title"] = "Edit";
}

<h1>@ViewData["Title"]</h1>

<div asp-validation-summary="All" class="text-danger"></div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            <input hidden="" asp-for="Book.Id" />

            <div class="form-group">
                <label asp-for="Book.Name" class="control-label"></label>
                <input asp-for="Book.Name" class="form-control" />
                <span asp-validation-for="Book.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Pages" class="control-label"></label>
                <input asp-for="Book.Pages" class="form-control" />
                <span asp-validation-for="Book.Pages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Sizes" class="control-label"></label>
                <input asp-for="Book.Sizes" class="form-control" />
                <span asp-validation-for="Book.Sizes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.ImageUrl" class="control-label"></label>
                <input asp-for="Book.ImageUrl" class="form-control" />
                <span asp-validation-for="Book.ImageUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Categoria</label>
                <select asp-for="Book.CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Nome"))" class="form-control"></select>
            </div>

            <div class="form-group">
                <label class="control-label">Authors</label>
                <select asp-for="Book.AuthorId" asp-items="@(new SelectList(Model.Authors, "Id", "Name"))" class="form-control"></select>
            </div>

            <div class="form-group">
                <label class="control-label">Publisher</label>
                <select asp-for="Book.PublisherId" asp-items="@(new SelectList(Model.Publishers, "Id", "Name"))" class="form-control"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-secondary" />
            </div>

        </form>
    </div>

</div>