@model BookStore.Models.ViewModels.BookFormViewModel;

@{
    ViewData["Title"] = "Edit";
}

<h1 class=@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            <input hidden="" asp-for="Book.Id" />

            <div class="form-group">
                <label asp-for="Book.Name" class="control-label h4"></label>
                <input asp-for="Book.Name" class="form-control input-sm" />
            </div>
            <div class="form-group">
                <label asp-for="Book.Pages" class="control-label h4"></label>
                <input asp-for="Book.Pages" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Book.Sizes" class="control-label h4"></label>
                <input asp-for="Book.Sizes" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Book.ImageUrl" class="control-label h4"></label>
                <input asp-for="Book.ImageUrl" class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label h4">Categoria</label>
                <select asp-for="Book.CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Nome"))" class="form-control"></select>
            </div>

            <div class="form-group">
                <label class="control-label h4">Authors</label>
                <select asp-for="Book.AuthorId" asp-items="@(new SelectList(Model.Authors, "Id", "Name"))" class="form-control"></select>
            </div>

            <div class="form-group">
                <label class="control-label h4">Publisher</label>
                <select asp-for="Book.PublisherId" asp-items="@(new SelectList(Model.Publishers, "Id", "Name"))" class="form-control"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-secondary" />
            </div>

        </form>
    </div class="col-md-8">

    <div>

    </div>

</div>